# Ignore the build and lib dirs
build/
lib/

# Ignore any executables
bin/

# Ignore generated sources

# Ignore Mac specific files
.DS_Store

*.~
*.*~

# Ignoring swapping files
*.swp


# Ignore .bnf files
.folders
.bnfobjects
